//- index.pug
doctype html
html
  head
  body
    h1 My Site
    p Welcome to my super lame site.
    script
      include script.js
    ul
      each user in users
        li
          a(href=user.firstName) #{user.firstName}
          |  (#{user.lastName})

      else
        li There are no books.